.ba-center-panel
  #chatlist.chat-panel--list(scroll-glue)
    div(*ngFor="#message of messages")
      chat-card([message]='message')
  .chat-panel--input
    form
      input(#messageToSend, (keyup.enter)="sendMessage(messageToSend)", type="text", placeholder="message...")
