.settings
  .side-panel
    center
      img(src="https://myspace.com/common/images/user.png")
      h2 Exclusive Rentals
  .center-panel
    .setup-card
      h1.title Set Up
      hr
      .info
        h3 1. Add this script tag to your html page
        textarea {{ scriptText }}
        h3 2. Check out your messaging page
        center
          button Go to Messaging
