.landing-header
  display: flex
  flex-direction: row
  .buttons
    float: right

.ba-header-right-menu
  margin-right: 20px
  display: flex
  flex-direction: column
  justify-content: center

  .items
    display: flex
    flex-direction: row
    .dropdown
      height: 50px

      button
        @extend %no-glow
        margin-left: 10px
        height: 50px
        background: none
        border: none
      button:active
        background: none!important
      button:focus
        background: none!important
    img
      @extend %img-circle
      width: 50px
      height: 50px

.ba-header
  display: flex
  flex-direction: column
  justify-content: center
  background: $header-blue
  border: none!important
  border-radius: 0px
  height: $header-height!important

  $container-padding: 25px

  &--wrapper
    display: flex
    flex-direction: row
    justify-content: space-between

  &--title
    padding-left: $container-padding
    font-size: 35px
    color: white

  &--username
    font-weight: 200
    font-size: 35px
    color: white
    /* Center Item horizontally */
    position: absolute
    left: 50%
    transform: translateX(-50%)

  // Column
  &--user-menu
    @extend %no-glow
    display: flex
    flex-direction: column
    justify-content: center
    padding-right: $container-padding
    margin-left: auto

    button
      @extend %no-glow
      color: white
      font-size: 25px
