.simpreview
  .slider
    div(id="metrics-loading" style="position: relative;")
    canvas(id="myChart")
  .info
    button((click)="getMetrics(0)") Emotion
    button((click)="getMetrics(1)" ) Language
    button((click)="getMetrics(2)") Social
