.bablot-chat {
  width: 400px;
  height: 400px;
  background: red;
  opacity: 0.5;
  position: absolute;
  left: calc(500px - 200px);
}

.bablot-about {
  width: 400px;
  height: 400px;
  background: blue;
  position: absolute;
  left: calc(500px + 100px);
  transition: opacity 2s;
  opacity: 0;
}

.bablot-contact {
  width: 400px;
  height: 400px;
  background: green;
  position: absolute;
  left: calc(500px + 100px);
  transition: opacity 2s;
  opacity: 0;
}

@keyframes slide-left {
    0% {
      left: calc(500px - 200px);
    }
    100% {
      left: 0px;
    }
}

@keyframes slide-right {
    0% {
      left: 0px;
    }
    100% {
      left: calc(500px - 200px);
    }
}
