.bablot-wrapper {
  margin: auto;
  width: 1000px;
  height: 415px;
  position: relative;
}

.bablot-chat-panel {
  position: absolute;
  left: calc(500px - 250px);
  width: 500px;
  height: 415px;
}

.bablot-about-panel {
  width: 400px;
  height: 400px;
  position: absolute;
  left: calc(500px + 100px);
  transition: opacity 1s;
  opacity: 0;
}

.bablot-contact-panel {
  width: 400px;
  height: 400px;
  position: absolute;
  left: calc(500px + 100px);
  transition: opacity 1s;
  opacity: 0;
}


@media (max-width: 700px) {
  .bablot-nav { display: none; }
  .bablot-intro { display: none; }
  .bablot-about-panel { display: none!important; }
  .bablot-contact-panel { display: none!important; }
  .bablot-wrapper {
    height: 100%!important;
    width: 100%!important;
  }
  html,body { height: 100%; margin: 0px; padding: 0px; }
  .bablot-chat-panel {
    overflow: hidden;
    opacity: 1;
    width: 100%;
    height: 100%;
    left: 0px;
    animation: none!important;
  }
  .bablot-chat {
    border: none;
    border-radius: 0px;
  }
}
