.simpreview
  .slider
    div(id="metrics-loading" style="position: relative;")
  .info
    button.btn.btn-sucess.online-status(
        (click)="messenger.toggleOnline()",
        [ngClass]="{'btn-success' : messenger.isOnline, 'btn-danger' : !messenger.isOnline}")
        div(*ngIf="messenger.isOnline") Online
        div(*ngIf="!messenger.isOnline") Offline

