#messaging-view.ba-messaging.hidden-xs.hidden-sm
  .ba-messaging--content
    .ba-sidebar-left.ba-bg-white
      list-panel([contacts]='demoContacts')
    .ba-center-panel.ba-bg-white
      chat-panel
    .ba-sidebar-right
      sim-preview

//- MESSAGE FOR USERS ON SMALL SCRENES
.visible-xs.visible-sm
  .device-not-supported
    p This website is only available on desktop devices
