.ba-center-panel
  #chatlist.chat-panel--list(scroll-glue)
    div(*ngFor="#message of messenger.currentConversation?.messages")
      chat-card([message]='message')
  .chat-panel--input
    form(*ngIf="messenger.currentConversation?.messages?.length")
      .messageInput(contentEditable="true", #messageToSend, (drop)="dropInput($event)", (keyup.enter)="sendMessage(messageToSend)")
