.ba-login
  h5(style="color: red; margin-left: auto; margin-right: auto;") {{message}}
  .login-panel
    button(*ngIf='!loggedIn()', (click)='signup()') Signup
    button(*ngIf='!loggedIn()', (click)='login()') Login
    button(*ngIf='loggedIn()', (click)='logout()') Logout
